
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: 100% ;
    width: 100%;
    height: 100%;
    background-image: url(Background2.jpg);
    background-attachment: fixed;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}
.about {
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}
.about h2 {
    margin-top: 0;
}
.about p {
    margin-bottom: 10px;
}
.skills {    
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}
.skills h2 {
    margin-top: 0;
}
.skills ul {
    list-style-type: none;
    padding: 0;
}
.skills li {
    margin-bottom: 5px;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav {
    background-color: #444;
    padding: 10px 0;
    text-align: end;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}
nav a:hover {
    background-color: #555;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    align-items: start;
}
.project {
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    border-width: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    border-width: 10px;
    border-color: black;
    border: 5px;
}
.project img {
    width: 400px;
    height: auto;
    border-radius: 5px;
    margin-left: 20px; /* Adjust margin to space the image from the text */
}
.project-info {
    flex: 1;
    margin-right: 20px; /* Adjust margin to space the text from the image */
}
.project h2 {
    margin-top: 0;
}
.project p {
    margin-bottom: 10px;
}
footer {
    background-color:black;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    text-decoration-color: white;
    
}
.h2
{
color: white;
}